body {
  font-family: forge;
}

header {
  background-color: #ffcc00;
  padding: 20px;
  text-align: center;
      animation: rainbow 5s infinite;

}

.titulo-principal {
  color: #333;
  font-size: 48px;

}

.subtitulo {
  color: #666;
  font-size: 32px;

}

section {
  margin: 40px 0;
}

.subtitulo-seccion {
  color: #ffcc00;
  font-size: 36px;
  text-align: center;
        animation: moveLeft .5s infinite alternate;

}

.texto {
  color: #333;
  font-size: 24px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 30px;
        animation: moveUp .5s infinite alternate;

}

.kuaker{
  color: #ffcc00;
  font-size: 32px;
  text-align: center;
        animation: moveLeft .5s infinite alternate;

}

.arroba{
  color: #ffcc00;
  font-size: 32px;
  text-align: center;
        animation: moveLeft .5s infinite alternate;

}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 400px;
}

.imagen2{
  width: 350px;
}

.imagen1{
  width: 350px;
}

@keyframes fadeIn {
   from { opacity:0; }
   to { opacity:1; }
}

@keyframes moveLeft{
  to{
    transform: translateX(10px);
  }
}

@keyframes moveUp{
  to{
    transform: translateY(10px);
  }
}

@keyframes rainbow {
  0% { background-color: red; }
  14% { background-color: orange; }
  28% { background-color: yellow; }
  42% { background-color: green; }
  57% { background-color: blue; }
  71% { background-color: indigo; }
  85% { background-color: violet; }
  100% { background-color: red; }
}